<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not-Google</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="C:\Users\cesar\Downloads\search_system\templates\elgoog.png">
    <form method="post" action="{{ url_for('search') }}">
        {{ form.hidden_tag() }}
        {{ form.ids.label }} {{ form.ids() }}
        {{ form.submit() }}
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
